
/* p{
  font-family: 'Manrope', sans-serif;
} */
/* 
header{
  display: flex;
  justify-content: space-between;
  padding: 5% 4%;
  color:white;
} */
/* 
.welcomeTextContainer{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom:10%;
  color:white;
  width: 100%;
} */
/* 
.welcomeText{
  width: 80vw;
  font-size: 80px;
  text-align: center;
  font-family: 'Instrument Serif', serif;
} */

/* .secondContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 5% 35%;
  background-color:black;
  color:white;
  text-align: center;
}

.secondContainer h1{
  margin-bottom: 3%;
  font-family: 'Instrument Serif', serif;
}

.secondContainer p{
  margin-bottom: 2%;
}

.watchButton {
  padding: 2% 3%;
  background-color:#EF7E00;
  border-radius: 10%;
  color:white;
} */

